@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
:root {
    /* Custom variables */
    --kt-body-bg-color: #1e1e2f;

    /* Bootstrap override */
    --bs-body-bg: var(--kt-body-bg-color);
    --bs-body-font-family: Montserrat var(--bs-font-sans-serif);
    --bs-dark-rgb: 39, 41, 61;
    --bs-dark: #27293d;
}