body {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

main.app {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.sidebar {
  flex-basis: 200px;
  flex-grow: 1;
  min-height: 100vh;
}

.content {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
  min-height: 100vh;
}
